/* Centramos el formulario en la pantalla */
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f4f6;
  }
  
  form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }

  .create_account {
    text-align: center;
    color: #ffffff;
    font: 100;
    background-color: #007bff;
  }
  
  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
  }
  
  label {
    font-weight: 500;
    color: #666;
    margin-top: 1rem;
  }
  
  input {
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
    width: 250px;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  button {
    margin-top: 1.5rem;
    padding: 0.8rem;
    background-color: #007bff;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .return-login {
    margin-top: 1rem;
    text-align: center;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .extra-options {
    margin-top: 1.5rem;
    text-align: center;
  
    a {
      display: block;
      color: #1E40AF;
      text-decoration: underline;
      font-size: 0.9rem;
      margin-top: 0.5rem;
      cursor: pointer;
      transition: color 0.3s ease;
  
      &:hover {
        color: #1D4ED8; // Color más claro al pasar el cursor.
      }
    }
  }

  