.admin-layout {
  display: flex;
  height: 100vh; /* Asegura que la vista ocupe el 100% del alto de la ventana */
  overflow: hidden;
}

.admin-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 97vh; /* Fija la barra lateral al alto completo de la ventana */
  background-color: #1d1f27;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Permite scroll interno */

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 12px 20px;
      margin: 10px 0;
      color: #ffffff;
      font-size: 16px;
      cursor: pointer;
      border-radius: 8px;
      transition: background-color 0.3s, transform 0.2s;

      &:hover {
        background-color: #4a4f61;
        transform: scale(1.05);
      }

      &:active {
        background-color: #3b4051;
        transform: scale(0.95);
      }
    }
  }

  .contact-info {
    margin-top: auto;
    padding: 10px 0;
    border-top: 1px solid #4a4f61;
    color: #d1d4db;
    font-size: 14px;

    p {
      margin: 5px 0;
    }
  }

  .logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #e63946;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: #d62839;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.admin-content {
  margin-left: 250px;
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto;
}
