<div class="admin-container">
  <header class="admin-header">
    <h1>PARQUEADERO</h1>
  </header>
  <div class="admin-content">
    <nav class="admin-sidebar">
    </nav>
    <main class="main-panel">
      <div class="placa">
        <h3>Ingrese el numero de placa: </h3>
        <input type="text" placeholder="Placa">
      </div>
      <div class="stats">
        <div class="stat-card">Espacios Ocupados: {{ occupiedSpaces }}</div>
        <div class="stat-card">Usuarios Registrados: {{ registeredUsers }}</div>
        <div class="stat-card">Contratos Activos: {{ activeContracts }}</div>
      </div>
    </main>
  </div>
  <footer class="admin-footer">
    <p>Contacto: soporteparqueadero.com</p>
  </footer>
</div>
