.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  .admin-header {
    background-color: #1E40AF;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    button {
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 16px;
    }
  }

  .admin-content {
    flex: 1;

    .admin-sidebar {
      width: 200px;
      background-color: #f2f2f2;
      padding: 10px;

      ul {
        list-style-type: none;
        padding: 0;

        li {
          padding: 10px;
          cursor: pointer;

          &:hover {
            background-color: #e0e0e0;
          }
        }
      }
    }

    .main-panel {
      flex: 1;
      padding: 20px;

      .stats {
        display: flex;
        justify-content: space-between;

        .stat-card {
          background-color: #e7f3fe;
          padding: 20px;
          border-radius: 5px;
          flex: 1;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .admin-footer {
    text-align: center;
    padding: 10px;
    background-color: #1E40AF;
    color: white;
  }
}

// Menus desplegables

.placa {
  display: flex;
  flex-direction: column; /* Cambiado a columna */
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
  width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
}

.placa button {
  padding: 12px 24px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: #2980b9;
  }
  
  &:focus {
    outline: none;
  }
}

.auto-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 10px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  width: 100%; /* Ocupa todo el ancho del contenedor */
}

.auto-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.auto-menu ul li {
  margin: 10px 0;
}

.auto-menu ul li button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auto-menu ul li button:hover {
  background-color: #2980b9;
}

.auto-menu.show {
  max-height: 500px; /* Ajusta este valor según el contenido */
  opacity: 1;
}

.auto-menu input {
  width: 100%; /* Asegura que los inputs ocupen todo el ancho disponible */
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:focus {
    border-color: #3498db; /* Cambia el color del borde cuando se enfoca */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Añade una sombra al enfocarse */
    outline: none; /* Elimina el contorno por defecto */
  }
}

