<div class="horario-trabajo">
    <header class="schedule-header">
        <h1>Horario de Trabajo</h1>
    </header>    
    <table class="schedule-table">
        <thead>
            <tr>
                <th (click)="toggleOrdenDia()">Día
                    <span>{{ ordenAscendenteDia ? '🔼' : '🔽' }}</span>
                </th>
                <th>Hora de Inicio</th>
                <th>Hora de Fin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let horario of horarios">
                <td>{{ horario.day }}</td>
                <td>{{ horario.start }}</td>
                <td>{{ horario.end }}</td>
                <td>
                    <button (click)="editarHorario(horario)">Editar</button>
                    <button (click)="eliminarHorario(horario)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="abrirFormulario()">Agregar Horario</button>    
</div>

<div class="modal" *ngIf="formularioVisible">
    <h3>{{ editar ? 'Editar Horario' : 'Agregar Horario' }}</h3>
    <form (ngSubmit)="guardarHorario()">
        <label>
            Día:
            <select [(ngModel)]="horarioSeleccionado.day" name="dia" required>
                <option *ngFor="let dia of diasValidos" [value]="dia">{{ dia }}</option>
            </select>
        </label>        
        <label>
            Hora de Inicio:
            <input type="time" [(ngModel)]="horarioSeleccionado.start" name="inicio" required>
        </label>
        <label>
            Hora de Fin:
            <input type="time" [(ngModel)]="horarioSeleccionado.end" name="fin" required>
        </label>
        <button type="submit">Guardar</button>
        <button type="button" (click)="cerrarFormulario()">Cancelar</button>
    </form>
</div>
<app-notifications></app-notifications>
