<div class="spaces-management-container">
    <header class="spaces-header">
        <h1>Gestión de Tickets</h1>
        <p>Administra y organiza los tickets de forma sencilla.</p>
    </header>

    <div class="spaces-content">
        <!-- Filtros y Búsqueda -->
        <div class="filter-bar">
            <input type="text" placeholder="Buscar por placa..." [(ngModel)]="searchPlate" (input)="applyFilters()"/>
            <select [(ngModel)]="filterTicketType" (change)="applyFilters()">
                <option value="">Todos</option>
                <option value="moto">Moto</option>
                <option value="camioneta">Camioneta</option>
                <option value="camion">Camion</option>
                <option value="suv">SUV</option>
                <option value="deportivo">Deportivo</option>
            </select>
        </div>

        <!-- Tabla de Vehiculos -->
        <div class="table-wrapper" *ngIf="filterTicketType.length > 0; else noVehicles">
            <table class="spaces-table">
                <thead>
                    <tr>
                        <th>Placa</th>
                        <th>Estado</th>
                        <th>Hora entrada</th>
                        <th>Hora salida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of filteredTickets">
                        <td>{{ ticket.vehicle.plate }}</td>
                        <td>{{ ticket.entryDateTime}}</td>
                        <td>{{ ticket.exitDateTime }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Mensaje si no hay vehículos -->
        <ng-template #noVehicles>
            <p class="no-data">No hay tickets registrados.</p>
        </ng-template>
    </div>
</div>
